body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-110px;
  width:718px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:532px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:43px;
  width:447px;
  height:532px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:375px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:130px;
  width:224px;
  height:375px;
  display:flex;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:476px;
  width:225px;
  height:30px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:476px;
  width:45px;
  height:29px;
  display:flex;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:476px;
  width:45px;
  height:29px;
  display:flex;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:476px;
  width:45px;
  height:29px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:476px;
  width:45px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F5DE06;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:476px;
  width:45px;
  height:29px;
  display:flex;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:146px;
  width:50px;
  height:50px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:150px;
  width:80px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:176px;
  width:113px;
  height:15px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:274px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:202px;
  width:224px;
  height:274px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:209px;
  width:226px;
  height:37px;
  display:flex;
  text-align:left;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:252px;
  width:226px;
  height:37px;
  display:flex;
  text-align:left;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:291px;
  width:226px;
  height:37px;
  display:flex;
  text-align:left;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:329px;
  width:226px;
  height:37px;
  display:flex;
  text-align:left;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:367px;
  width:226px;
  height:37px;
  display:flex;
  text-align:left;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:224px;
  width:5px;
  height:10px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:267px;
  width:5px;
  height:10px;
  display:flex;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:306px;
  width:5px;
  height:10px;
  display:flex;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:344px;
  width:5px;
  height:10px;
  display:flex;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:381px;
  width:5px;
  height:10px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:306px;
  width:180px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:11px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:224px;
  width:30px;
  height:5px;
  display:flex;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:11px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:384px;
  width:30px;
  height:5px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:11px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:270px;
  width:30px;
  height:5px;
  display:flex;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:11px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:309px;
  width:30px;
  height:5px;
  display:flex;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:11px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:347px;
  width:30px;
  height:5px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:170px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:225px;
  width:5px;
  height:164px;
  display:flex;
  -webkit-transform:rotate(0.437920997260219deg);
  -moz-transform:rotate(0.437920997260219deg);
  -ms-transform:rotate(0.437920997260219deg);
  transform:rotate(0.437920997260219deg);
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:136px;
  height:31px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:309px;
  width:120px;
  height:5px;
  display:flex;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:279px;
  width:36px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
